<!-- Begin Volunteer List-->
<section id="volunteers" class="volunteers">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1 text-center">
            <h4 class="text-left animated hiding appear-animation-trigger" data-animation="fadeInUp" data-delay="0">Become a volunteer!</h4>
            <p class="text-left animated fadeInUp visible" data-animation="fadeInUp" data-delay="0">
              We have an offer you can't refuse: Help us make this the best DevFest Berlin ever and have a look behind the scenes!
            </p>
            <p class="text-left animated fadeInUp visible" data-animation="fadeInUp" data-delay="0">
              In return for half a day of your time we'll provide you with a free ticket, food &amp; drinks, responsibility for a part of the event and a limited edition organizer hoodie.
            </p>
            <p class="text-left animated fadeInUp visible" data-animation="fadeInUp" data-delay="0">
              Sold? Great, let us know you're interested via this form and we'll get back to you soon!
            </p>

            <p>
              <a class="btn btn-primary waves-effect waves-button waves-light waves-float href="http://bit.ly/devfest-berlin-volunteers">
                I want to become a volunteer!
              </a>
            </p>
        </div>
    </div>
</section>
<!-- End Volunteer List -->
